.categorys-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: center;
}

.buttons {
  background-color: white;
  border-radius: 5px;
  color: rgb(63, 63, 63);
  height: 25px;
  text-decoration: none;
  transition: 0.4s;
}

.buttons:hover {
  color: rgb(255, 126, 71);
  border-style: solid;
  border-width: 0 0 2px;
  font-weight: 800;
}
