.header-container {
  background: rgb(255, 126, 71);
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.title {
  color: white;
  font-size: 25px;
}

.SearchBar-container {
  background: white;
  border-radius: 5px 5px 10px 10px;
  margin-bottom: 10px;
  margin-left: 11px;
  width: 338px;
  align-items: center;
}

.ingredients-container {
  color: white;
  display: flex;
  flex-direction: column;
  height: 88px;
  left: 11px;
  top: 188px;
  width: 338px;

}

.ingredients {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 12px;
  margin-top: 14px;
  color: rgb(63, 63, 63);
  font-size: 13px;
  text-align: center;
}

.search-input {
  background: rgb(255, 227, 215);
  border: 0;
  border-radius: 50px;
  box-sizing: border-box;
  height: 30px;
  margin-right: 11px;
  top: 168px;
  width: 338px;
}

.search-input::placeholder {
  color: rgb(255, 126, 71);
  font-size: 13px;
  font-style: italic;
  font-weight: 300;
  height: 25px;
  line-height: 14px;
  padding-left: 28.38px;
  width: 151.2px;
}

.icons {
  filter: invert();
  width: 30px;
  margin: 10px;
}