.mealsCard {
  background: white;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #e2e2e2;
  color: rgb(41, 41, 41);
  display: flexbox;
  height: fit-content;
  margin: 10px;
  width: calc(70px * 2);
  padding: 0 0 1px 0;
}

.mealsImage {
  border-radius: 10px 10px 0 0;
  width: calc(70px * 2);
}

.recipeButton {
  background-color: white;
  border: 0;
}

.mealsRecipesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 8px;

}

.catagorys-container {
  display: flex;
  gap: 4px;
  justify-content: center;
}

.buttons {
  background-color: white;
  border-radius: 5px;
  color: #222;
  height: 25px;
  text-decoration: none;
  transition: 0.4s;
}

.buttons:hover {
  background-color: #fcc436;
  color: white;
}
