.mealsCard {
  background: white;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #b7b7b7;
  color: rgb(41, 41, 41);
  display: flexbox;
  height: fit-content;
  margin: 10px;
  width: calc(70px * 2);
  padding: 0 0 1px 0;
}

.mealsImage {
  border-radius: 10px 10px 0 0;
  width: calc(70px * 2);
}

.recipeButton {
  background-color: #efefef;
  border: 0;
}

.recipeTitle {
  font-size: 13px;
}

.mealsRecipesContainer {
  background-color: #efefef;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 8px;

}

.catagorys-container {
  display: flex;
  gap: 4px;
  justify-content: center;
  overflow-x: auto;
  scroll-behavior: inherit;
}

.buttons {
  border: 0;
  border-radius: 0;
  color: rgb(63, 63, 63);
  height: 25px;
  transition: 0.4s;
  font-weight: 500;
  font-size: 13;
}

.button {
  background-color: rgb(255, 126, 71);
  border: 0;
  border-radius: 10px;
  padding: 5px;
  width: 60vw;
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.buttonContainer {
  display: grid;
  justify-content: center;
  justify-items: center;
}